header {
    background-color: rgb(15, 95, 119);
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

/*body {
    background-color: #808080;
    margin: 0;
    padding: 0;
    width: 1366px;
    height: 786px;
    

}*/
/*
.destaque {
    height: 40%;
    width: 50%;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}


.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}
.bar {
    width: 70px;
    height: 17px;
    border: 2px solid floralwhite;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
}
.bar:hover {
    background-color:floralwhite;
    transition: .9s;
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 300%;
    height: 100%;
}

.slide {
    width: 33.33%;
    transition: .6s;

}
.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1 {
    margin-left: 0;

}
#slide2:checked ~ .s1 {
    margin-left: -33.33%;
}
#slide3:checked ~ .s1 {
    margin-left: -66.66%;

}
.columsmain {
display: -webkit-inline-flex;
width: 1338px;
height: 300px;
left: 131px;
top: 1192px;
justify-content: center;
column-gap: 30px;
}
.pagecolums {
    width: 100px;
    height: auto;

}

.divmain {
    background-color: #888686;
    padding-top: 0px;
    width: 1444px;
    height: 172px;

}

.footersilhuetas {
    background-color: #41B48C;
    background-position-x: center;
   display: flex;
   padding-left: 8cm;
   justify-content: center;
    width: 57%;
}
.logorodape {
   background-color: #888686;
    display: flex;
    width: 30%;
}
.footerlayout {
  background-color:#888686;  
    width: 2%;
}