body {
    background-color: #808080;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    
}
.destaque {
    height: 40%;
    width: 50%;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}
.bar {
    width: 70px;
    height: 17px;
    border: 2px solid floralwhite;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
}
.bar:hover {
    background-color:floralwhite;
    transition: .9s;
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 33.33%;
    transition: .6s;

}
.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1 {
    margin-left: 0;

}
#slide2:checked ~ .s1 {
    margin-left: -33.33%;
}
#slide3:checked ~ .s1 {
    margin-left: -66.66%;

}