/* Aqui acaba o CSS das paginas Paralelas */
.boxsilhuetas {
    background-color: #41B48C;
    width: 35%;
    display: flex;
    align-items: center;
}

.boxredessociais1 {
    background-color: #888686;
    margin-top: 1px;
}
.boxredessociais2 {
    background-color: #888686;
    padding-top: 1px;
}
h6 {
    background-color: #888686;
    display: flex;
    align-content: center;
    padding-top: 1px;
}