body{
    margin: 0;
    margin-left: 0;
    padding: 0;
    font-family: Verdana;
    background-color: #FFFFFF;
}

/* Inicio Seção 1 (Parte superio do menu) */
.boxmain{
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}


.boxm1{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #888686;
}

.logo img{
    width: 140px;
    height: 60px;
    border: 0;
    padding: 0;
}

.menu{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.menu a{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: white;
    font-size: 25px;
}

#mn:hover{
    background-color: #41B48C;
    border-radius: 15px;
    transition: 0.5s;
    color: #333;
}


.usuario{
    display: flex;
    gap: 20px;
}

.us{
    background-color: #41B48C;
    border-radius: 15px;
}

.us:hover{
    background-color: #333;
    transition: 0.5s;
}


.boxverde{
    background-color: #41B48C;
    height: 30px;
}


/* Inicio Seção 21 (Parte referente aos slides) */
.destaques{
    padding: 110px 0 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    margin: 0 auto;
    width: 85%;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.8);
}
 
.slides{
    width: 300%;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 33.33%;
    position: relative;
    transition: 0.6s;
}

.slide img{
    width: 100%;
    height: 100%;
}
 
.manual-navigation{
    position: relative;
    width: 100%;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.manual-btn{
    border: 2px solid #fff;
    width: 20px;
    padding: 5px;
    bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -33.33%;
}

#radio3:checked ~ .first{
    margin-left: -66.66%;
}


/* Inicio Seção 3 (Parte referente aos cards de informação) */
.Inf{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .card{
    cursor: pointer;
    padding: 30px;
    position: relative;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: #41B48C;
    transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;

}

.container .card .face.face1 .content img{
    max-width: 100px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
    text-align: center;
}

.container .card:hover .face.face2{
    transform: translateY(0)
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}


/* Inicio Seção 4 (Parte referente as paginas) */
.titulo-pg{
    text-align: center;
    font-size: 50px;
    color: #888686;
}

.titulo-pg:hover{
    color: #41B48C;
    transition: 0.5s;
    transform: translate(-2px, -2%);
}

.paginas{
    width: 85%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pagina{
    align-items: center;
    width: 60px;
    display: flex;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
    border-radius: 50px;
    width: 170px;
    height: 1100px;
    background-color: #107295;
    opacity: 0.8;
}

#PG1{
    background-image: url(./img/Home/Cat1.png);
}

#PG2{
    background-image: url(./img/Home/Cat2.png);
}

#PG3{
    background-image: url(./img/Home/Cat3.png);
}

#PG4{
    background-image: url(./img/Home/Cat4.png);
}

#PG5{
    background-image: url(./img/Home/Cat5.png);
}

#PG6{
    background-image: url(./img/Home/Cat6.png);
}

#PG7{
    background-image: url(./img/Home/Cat7.png);
}

.pagina:hover{
    transition: 0.5s;
    transform: translate(-2px, -2%);
    opacity: 1;
}



/* Inicio Seção 5 (Parte referente as silhuetas) */
.boxsilhuetas{
    margin: 0;
    padding: 0;
    margin-top: 40px;
    min-height: 10vh;
    background-color: #41B48C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.silhuetas{
    margin: 10px;
}

.silhuetas img{
    width: 60px;
    margin-left: 2vw;
    margin-right: 2vw;
}



/* Inicio Seção 6 (Parte referente aos contatos e redes sociais) */
.inf_pag{
    display:flex;
    background-color: #888686;
    justify-content: space-between;
    align-items: center;
}



#logo_rodape{
    font-size: 20px;
    width: 25vw;
    margin-left: 30px;    
}

#logo_rodape img{
    width: 10px;
    width: 10vw;
    margin: 0;
}

#texto_logo_rodape{
    margin: 0;
}



/* Nossas Redes */
.boxredes{
    width: 25vw;
    justify-content: end;
    align-content: center;
}

.boxredes a{
    padding-left: 30px;
    height: 25px;
    align-content: center;
    width: 100%;
}

.boxredes a:link{
    color: white;
    text-decoration: none;
}

.boxredes a:link:hover{
    color: #41B48C;
    text-decoration: none;
}

.boxredes a:visited{
    color: white;
    text-decoration: none;
}

.boxredes a:visited:hover{
    color: #41B48C;
    text-decoration: none;
}


#RS1{
    background: url(./img/Geral/Facebook.png) no-repeat;
    background-size: 25px;
    align-items: center;
}

#RS1:hover{
    background: url(./img/Geral/FacebookV.png) no-repeat;
    background-size: 25px;
    align-items: center;
    transition: 0.2s;
}

#RS2{
    background: url(./img/Geral/Instagram.png) no-repeat;
    background-size: 25px;
    align-items: center;
}

#RS2:hover{
    background: url(./img/Geral/InstagramV.png) no-repeat;
    background-size: 25px;
    align-items: center;
    transition: 0.2s;
}

#RS3{
    background: url(./img/Geral/Twitter.png) no-repeat;
    background-size: 25px;
    align-items: center;
}

#RS3:hover{
    background: url(./img/Geral/TwitterV.png) no-repeat;
    background-size: 25px;
    align-items: center;
    transition: 0.2s;
}

#RS4{
    background: url(./img/Geral/Youtube.png) no-repeat;
    background-size: 25px;
    align-items: center;
}

#RS4:hover{
    background: url(./img/Geral/YoutubeV.png) no-repeat;
    background-size: 25px;
    align-items: center;
    transition: 0.2s;
}



.redes{
    display: flex;
    height: 25px;
    margin: 10px 0;
    background:#1E1E1E
}




/* Nossos Contatos */
.boxcontatos{
    display: grid;
    text-align: end;
    width: 25vw;
    align-items: center;
    margin-right: 30px; 
    color: white;
}

.boxcontatos img{
    width: 30px;
}

.cont{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 35px;
}

.cont img{
    width: 30px;
    height: 30px;
    margin: 5px;
}

/* Copy */
.copy{ 
    text-align: center;
    margin: 0;
    padding: 0;
    height: 50px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    color: white;
    background: #1E1E1E;
}




@media screen and (min-width: 1600px) {
    .container .card .face{
        width: 400px;
        height: 250px;
    }    
    
    .container .card .face.face2{
        transform: translateY(-150px);
    }
    
    .silhuetas img{
        width: 100px;
    }
}

@media screen and (max-width: 1360px) {
    .paginas{
        width: 85%;
        gap: 5px;
    }
    
    .pagina{
        width: 130px;
        border-radius: 30px;
    }
}

@media screen and (max-width: 1088px) {
    #pesquisar{
        width: 40vw;
    }

    .container .card{
        padding: 5px;
    }
}

@media screen and (max-width: 1000px) {
    .container .card{
        padding: 0;
    }
}

@media screen and (max-width: 908px) {
    .container{
        display: grid;
        margin-top: 20px;
    }

    #pesquisar{
        width: 300px;
    }
}

@media screen and (max-width: 840px) {
    .container{
        display: grid;
        margin-top: 20px;
    }

    #pesquisar{
        width: 200px;
    }

    .silhuetas{
        margin: 0;
    }

    .inf_pag{
        display: grid;
        justify-content: center;
    }

    .campodebusca{
        margin-right: 100px;
    }
}

@media screen and (max-width: 680px) {
    .container{
        display: grid;
        margin-top: 20px;
    }

    #pesquisar{
        width: 150px;
    }

    .silhuetas{
        margin: 0;
    }

    .silhuetas img{
        width: 40px;
    }

    .inf_pag{
        display: grid;
        justify-content: center;
    }

    .campodebusca{
        margin-right: 0;
    }
}

@media screen and (max-width: 530px) {
    .container{
        display: grid;
        margin-top: 20px;
    }

    #pesquisar{
        width: 100px;
    }

    .silhuetas{
        margin: 0;
    }

    .silhuetas img{
        width: 40px;
    }

    .inf_pag{
        display: grid;
        justify-content: center;
    }

    .campodebusca{
        margin-right: 0;
    }
}
